@{
    Layout = "_Layout";
    var culture = _SiteService.GetCurrentCulture();
}

@section Styles{
    <style>
    </style>
}

<h1>功能測試區</h1>
    <span>Resource自訂多國語系</span>
    <div class="py-6">
        <div class="row clearfix">
            <div class="col-md-12">
                <table id="example" class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th>@_localizer["Account"]</th>
                            <th>@_localizer["Email"]</th>
                            <th>@_localizer["Name"]</th>
                            <th>@_localizer["Birthday"]</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>A001</td>
                            <td>A001@gmail.com</td>
                            <td>001</td>
                            <td>1970-12-31</td>
                        </tr>
                        <tr>
                            <td>A002</td>
                            <td>A002@gmail.com</td>
                            <td>002</td>
                            <td>1980-07-31</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <span>Select2單選</span>
    <div class="py-6">
        <div class="row clearfix">
            <div class="col-12">
                <select class="example01 form-control">
                    <option value="1">A</option>
                    <option value="2">B</option>
                    <option value="3">C</option>
                    <option value="4">D</option>
                    <option value="5">E</option>
                </select>
            </div>
        </div>
    </div>

    <span>Select2多選</span>
    <div class="py-6">
        <div class="row clearfix">
            <div class="col-12">
                <select class="example02 form-control" multiple="multiple">
                    <option value="1">A</option>
                    <option value="2">B</option>
                    <option value="3">C</option>
                    <option value="4">D</option>
                    <option value="5">E</option>
                </select>
            </div>
        </div>
    </div>

    <span>Select2多國語系</span>
    <div class="py-6">
        <div class="row clearfix">
            <div class="col-12">
                <select class="example03 form-control">
                    <option value="1">A</option>
                    <option value="2">B</option>
                    <option value="3">C</option>
                    <option value="4">D</option>
                    <option value="5">E</option>
                </select>
            </div>
        </div>
    </div>

    <span>Select2遠端資料</span>
    <div class="py-6">
        <div class="row clearfix">
            <div class="col-12">
                <select class="example04 form-control">
                </select>
            </div>
        </div>
    </div>

    <span>toastr提示訊息</span>
    <div class="py-6">
        <div class="row clearfix">
            <div class="col-12">
            </div>
        </div>
    </div>

    <span>SignalR測試</span>
    <div class="container">
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-2">User</div>
            <div class="col-4"><input type="text" id="userInput" /></div>
        </div>
        <div class="row">
            <div class="col-2">Message</div>
            <div class="col-4"><input type="text" id="messageInput" /></div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-6">
                <input type="button" id="sendButton" value="Send Message" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <ul id="messagesList"></ul>
        </div>
    </div>

    <span>串流檔案上傳測試</span>
    <div class="container mt-5">
        <div class="card container">
            <div class="card-body">
                <div class="col-xl-11 col-lg-10 col-md-9 col-12 ">
                    <div class="row align-items-center mt-5">
                        <div class="col-md-2 col-xxl-1">
                            <label for="inputFiles" class="col-form-label ">檔案</label>
                        </div>
                        <div class="col-md-8 col-xxl-9  mt-0 mt-md-3">
                            <input multiple type="file" id="inputFiles" class="form-control" aria-describedby="inputFiles">
                        </div>
                        <div class="col-md-2 col-xxl-2">
                            <button id="btnUpload" class="btn btn-primary">上傳</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <span>檔案下傳</span>
    <div class="container mt-5">
        <div class="card container">
            <div class="card-body">
                <div class="col-xl-11 col-lg-10 col-md-9 col-12 ">
                    <div class="row align-items-center mt-5">
                        <div class="col-md-2 col-xxl-1">
                            <label for="inputFileId" class="col-form-label ">檔案ID</label>
                        </div>
                        <div class="col-md-8 col-xxl-9  mt-0 mt-md-3">
                            <input type="text" id="inputFileId" class="form-control" aria-describedby="inputFileId">
                        </div>
                        <div class="col-md-2 col-xxl-2">
                            <button id="btnDownload" class="btn btn-primary">下載</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


@section Scripts{
    <script>
        // 畫面載入完成才執行
        // _localizer測試
        $(async () => {
            let langUrl = "/libs/DataTables/Languages/@(_SiteService.GetCurrentCulture()).json";

            $('#example').DataTable({
                "language": {
                    "url": langUrl,
                },
            });
        });
    </script>

    <script>
        // select2 功能
        $(async () => {
            $('.example01').select2();
            $('.example02').select2();
            $('.example03').select2({
                language: '@culture',
            });
        });
        $(async () => {
            const option = {
                language: '@culture',
                ajax: {
                    delay: 250, //延遲時間
                    processResults: function (data, params) {
                        return {
                            results: data.results,
                            pagination: {
                                "more": data.pagination
                            }
                        }
                    },
                    transport: function (params, success, failure) {
                        let $request = fetch(`/Common/TestRemoteData`, {
                            headers: {
                                'user-agent': navigator.userAgent,
                                'content-type': 'application/json',
                            },
                            body: JSON.stringify({
                                'Page': params.data.page || 1, // 第幾頁
                                'Rows': 10, // 每頁顯示幾筆資料
                                'Parameter': params.data.term, // 關鍵字查詢
                            }),
                            method: 'POST',
                        }).then(response => {
                            return response.json();
                        }).catch(error => {
                            failure(error);
                        }).then(data => {
                            success(data, params);
                        });
                        return $request;
                    },
                }
            }

            $('.example04').select2(option);
        });
    </script>

    <script>
        // toastr 功能
        $(async () => {
            toastr.options = {
                "closeButton": true,
                "debug": true,
                "newestOnTop": true,
                "progressBar": true,
                "positionClass": "toast-top-right",
                "preventDuplicates": true,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": 0,
                "extendedTimeOut": 0,
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut",
                "tapToDismiss": false
            }
            toastr["success"](`你好!<br /><br /><button type="button" class="btn clear">Yes</button>`, `測試`);
        });
    </script>

    <script>
        // SignalR 功能
        $(async () => {
            var connection = new signalR.HubConnectionBuilder().withUrl("/chatHub").build();

            //Disable the send button until connection is established.
            document.getElementById("sendButton").disabled = true;

            connection.on("ReceiveMessage", function (user, message) {
                var li = document.createElement("li");
                document.getElementById("messagesList").appendChild(li);
                // We can assign user-supplied strings to an element's textContent because it
                // is not interpreted as markup. If you're assigning in any other way, you
                // should be aware of possible script injection concerns.
                li.textContent = `${user} says ${message}`;
            });

            connection.start().then(function () {
                document.getElementById("sendButton").disabled = false;
            }).catch(function (err) {
                return console.error(err.toString());
            });

            document.getElementById("sendButton").addEventListener("click", function (event) {
                var user = document.getElementById("userInput").value;
                var message = document.getElementById("messageInput").value;
                connection.invoke("SendMessage", user, message).catch(function (err) {
                    return console.error(err.toString());
                });
                event.preventDefault();
            });
        });
    </script>

    <script>
        // 串流檔案上傳 功能
        $(async () => {
            $(document).on('click', '#btnUpload', async function (e) {
                if ($('#inputFiles')[0].files.length === 0) {
                    alert('請選擇檔案!');
                }
                else {
                    //清空畫面
                    $('.divImage').empty();

                    //將檔案放至FormData
                    let formData = new FormData();
                    for (let i = 0; i < $('#inputFiles')[0].files.length; i++) {
                        formData.append('file', $('#inputFiles')[0].files[i]);
                    }
                    //--額外的資料
                    formData.append('message', 'hellow world');

                    //上傳檔案
                    const url = `/Streaming/Upload`;
                    const result = await uploadFile(url, formData);
                    $('#inputFiles')[0].value = '';

                    if (result.status == 200) {
                        console.log(result.body);
                        //上傳成功的識別碼
                        const ids = result.body.ids;
                    } else {
                        alert('錯誤： ' + JSON.stringify(result.body.File));
                    }
                }
            });
        });

        async function uploadFile(url, data) {
            try {
                let settings = {
                    method: 'post',
                    body: data,
                };
                const fetchResponse = await fetch(`${url}`, settings).then(r => r.json().then(data => ({ status: r.status, body: data })));
                return fetchResponse;
            } catch (e) {
                console.log(e)
                return e;
            }
        }
    </script>

    <script>
        //檔案下載
        $(async () => {
            $(document).on('click', '#btnDownload', async function (e) {
                var id = $('#inputFileId').val();
                if (id === null || id === undefined || id.length === 0) {
                    alert('請輸入檔案ID');
                    return;
                }

                const blob = await downloadBlob('get', `/Streaming/Download/${id}`, null);
                console.log(blob)
                if (blob.status == 200) {
                    const fileName = `可自訂名稱.png`;
                    const link = document.createElement('a');
                    //產生本地連結
                    link.href = window.URL.createObjectURL(blob.body);
                    link.download = fileName;
                    link.click();
                    //釋放資源
                    window.URL.revokeObjectURL(link.href);
                }
                else {
                    alert('下載檔案發生錯誤');
                }
            });
        });

        async function downloadBlob(method, url, data) {
            try {
                method = method || 'post';
                let settings = {
                    method: method,
                    body: data,
                };
                //.blob()取二進制資料
                const fetchResponse = await fetch(`${url}`, settings).then(r => r.blob().then(data => ({ status: r.status, body: data })));
                return fetchResponse;
            } catch (e) {
                console.log(e)
                return e;
            }
        }
    </script>
}